<h1>{{bioData.name}}</h1>
<p>Fav Album: {{bioData.album}}</p>
<img src="/images/{{bioData.album_img}}" alt="band images">
<p>{{bioData.bio}}</p>
<p>Fav Song: {{bioData.song}}</p>
<iframe width="560" height="315" src="{{bioData.song_url}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>